@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Caveat&family=Fascinate&family=Marck+Script&family=Nunito:wght@300&family=Pacifico&family=Patrick+Hand&display=swap');


.LoginH1 {
    color: rgb(255,112,112);
    align-self: center;
    margin: 5px 30% 0px 30%;
}

.LoginH4 {
    font-family: 'Pacifico', cursive;
    margin: 8px 30% 0px 30%;
}

.LoginInput {
    margin: 8px 30% 0px 30%;
    width: 150px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 700px) {
     .LoginInput {
         width: 150px;
     }
}

.LoginButton {
    background-color: rgb(255,112,112);
    color: rgb(54,73,78);
    font-family: 'Nunito', 'sans-serif';
    border: 'none';
    border-radius: 8px;
    margin: 8px 30% 0px 30%;
    font-size: medium;
    width: 6em;
    height: 2.5em;
    align-items: center;
    justify-content: center;
}

.LoginElements {
    background-color: rgb(254,215,102);
    color: rgb(54,73,78);
    font-family: 'Nunito', 'sans-serif';
    margin: 2em 25% 0px 25%;
    padding: 8px 5px;
    min-width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}